.row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
}

button{
    background-color: $primary-color;
    min-width: 160px;
    color: $white;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

#map{
    height: 50vh;
}

.description{
    width: 80vw;
    margin: 60px auto;
    .content{
        margin: 20px 0px;
    }
}


p{
    line-height: 24px;
}