.jumbotron{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .row{
        justify-content: space-between;
        .text{
            position: relative;
            left: 5vw;
            width: 25vw;
            &__main{
                margin: 30px 0px;
            }
        }
        .image{
            width: 50vw;
            height: 100vh;
            background: url('../images/bg.png') center center /cover no-repeat;
        }
    }
}