@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf") format("truetype");
  font-weight: lighter;
  font-style: normal; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  background-color: #FFFFFF;
  width: 100vw;
  font-family: Roboto;
  overflow-x: hidden;
  scroll-behavior: smooth; }

.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 30px; }

button {
  background-color: #179C6B;
  min-width: 160px;
  color: #FFFFFF;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer; }

#map {
  height: 50vh; }

.description {
  width: 80vw;
  margin: 60px auto; }
  .description .content {
    margin: 20px 0px; }

p {
  line-height: 24px; }

.navigation {
  height: 60px;
  width: 90vw;
  left: 5vw;
  justify-content: space-between;
  align-items: center;
  position: absolute; }
  .navigation #menu {
    display: none;
    cursor: pointer; }
  .navigation a.link {
    text-decoration: none;
    margin: 0px 5px;
    padding: 5px 10px;
    font-weight: lighter;
    color: #FFFFFF;
    font-size: 13px; }

@media (max-width: 680px) {
  .navigation {
    padding: 30px; }
    .navigation #menu {
      display: inline-block; }
    .navigation .links {
      position: relative;
      position: fixed;
      width: 200px;
      background-color: #FFFFFF;
      display: flex;
      flex-direction: column;
      padding: 30px;
      top: 90px;
      right: 35px;
      z-index: 99;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s; }
      .navigation .links.show {
        opacity: 1;
        visibility: visible;
        top: 60px; }
      .navigation .links::before {
        content: "";
        position: absolute;
        border: 15px solid #FFFFFF;
        border-right: 15px solid transparent;
        transform: rotate(45deg);
        top: -10px;
        right: 20px; }
      .navigation .links a.link {
        color: black;
        margin: 5px 0px; } }

.jumbotron {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .jumbotron .row {
    justify-content: space-between; }
    .jumbotron .row .text {
      position: relative;
      left: 10vw;
      width: 25vw; }
      .jumbotron .row .text__main {
        margin: 30px 0px; }
    .jumbotron .row .image {
      width: 50vw;
      height: 100vh;
      background: url("../images/bg.png") center center no-repeat;
      background-size: cover; }

@media (max-width: 680px) {
  .jumbotron .row .text {
    position: relative;
    left: 10vw;
    width: 60vw;
    color: #FFFFFF; }
    .jumbotron .row .text__main {
      margin: 30px 0px; }
  .jumbotron .row .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; } }

@media (max-width: 420px) {
  .jumbotron .row .text {
    width: 80vw; }
    .jumbotron .row .text__main h1 {
      font-size: 22px; } }

.partners_bar {
  width: 100vw;
  height: 90px;
  background-color: #179C6B; }

.services {
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 60px 0px; }
  .services .row {
    width: 80vw;
    justify-content: center;
    align-items: center; }
    .services .row__image {
      margin-right: 30px;
      background: url("../images/car.png") center center no-repeat;
      background-size: cover;
      height: 60vh;
      width: 40vw;
      background-color: #179C6B;
      border-radius: 0px 50px 0px 0px; }
    .services .row__list ul li {
      position: relative;
      list-style-type: none;
      margin: 20px 0px;
      margin-left: 25px; }
      .services .row__list ul li::after {
        content: "";
        position: absolute;
        height: 3px;
        width: 8px;
        border: 1.5px solid #FFFFFF;
        border-top: 1.5px solid transparent;
        border-right: 1.5px solid transparent;
        top: 40%;
        left: -15px;
        transform: translate(-50%, -50%) rotate(-45deg); }
      .services .row__list ul li::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: #179C6B;
        border-radius: 50%;
        left: -25px; }

@media (max-width: 650px) {
  .services .row {
    flex-direction: column;
    align-items: flex-start; }
    .services .row__image {
      width: 80vw; } }

.industry_partners {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background-color: #F2F2F2; }
  .industry_partners__image {
    margin-right: 30px;
    background: url("../images/chemicals.png") center center no-repeat;
    background-size: cover;
    height: 50vh;
    width: 30vw;
    background-color: #179C6B;
    border-radius: 50px 0px 0px 0px; }
  .industry_partners__list {
    margin-right: 60px; }
    .industry_partners__list ul li {
      margin: 15px 0px;
      list-style-type: none; }

@media (max-width: 650px) {
  .industry_partners {
    flex-direction: column-reverse; }
    .industry_partners__image {
      margin-right: 0px;
      width: 80vw;
      margin-top: 60px;
      margin-bottom: 30px; }
    .industry_partners__list {
      width: 80vw;
      margin-right: 0px;
      margin-bottom: 60px; } }

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  min-height: 40vh;
  background-color: #FFFFFF; }
  .footer .row {
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap; }
    .footer .row .column .title {
      margin-bottom: 30px; }
    .footer .row .column .links .link {
      display: flex;
      margin-bottom: 15px; }
      .footer .row .column .links .link .image {
        margin-right: 5px; }
        .footer .row .column .links .link .image img {
          height: 20px; }

@media (max-width: 540px) {
  .footer .row {
    justify-content: flex-start; } }
